body{
    margin: 0px;
}

.navbar{
    position: relative;
    z-index: 99;
    padding: 10px 20px;
   
}
.navbar ul{

    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    gap:20px;
    padding: 0;
    color: white;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius:4px;
  }

  .nav-link:hover {
    background-color: #0056b3;
    text-decoration: underline;
  }

.navbar input{
    float: left;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    padding: 13px;
    margin-top: 2px;
    margin-left: 2px;
}

.split{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    width:33.33%;
    background-color: white;
  }

.right {
    right: 0;
    width:33.33%;
    background-color: white;
  }
.center {
    left:33.33%;
    width:33.33%;
    background-color: white;
}
  

.container{
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.rating{
    align-items: bottom;
    float: right;
}

